@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i&display=swap';

:root {
  --pink:#F53393;
  --yellow:#F5DE2F;
  --blue:#27DCF5;
  --white:#DDD;
  --black:#14141D;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  margin: 0px;
  background-color: black;
  background-color: var(--black);
  color: white;
  color: var(--white);
  font-size: 3vmin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  position: absolute;
  text-align: center;
  display: block;
  opacity: 1;
  width: 100vw;
  height: 20vmin;
  top: 35vh;
  margin: 0;
  font-size: 20vmin;
  transform: translateY(-50%);
}

h2,h3 {
  position: absolute;
  text-align: center;
  display: none;
  opacity: 0;
  width: 20vw;
  height: 5.5vmin;
  margin: 1.5vh 0 0 0;
  font-size: 5.5vmin;
  transform: translateX(-50%);
}

h4 {
  position: relative;
  font-style: italic;
  margin: 0;
  margin-left: 8vw;
  margin-right: 55vw;
  font-size: 12vmin;
  text-align: left;
  
}

p {
  margin-bottom: 0;
  float: left;
  text-align: left;
  margin-left: 15vw;
  margin-right: 55vw;
}

a {
  color: pink;
  color: var(--pink);
}

section {
  position: absolute;
  display: none;
  opacity: 0;
}

figure {
  float: center;
  text-align: center;
  font-style: italic;
  font-size: .9rem;
  text-indent: 0;
  margin: 0.5rem;
  padding: 0.5rem;
}

.preview {
  max-width: 35%;
  max-height: 60vh;
  border-radius: 50%;
  display: block;
  top: -2vmin;
  left: 68vw;
  transform: translateX(-50%);
  position: absolute;
}

.logo {
  opacity: .75;
}

.dot {
  width: 15vw;
  height: 15vw;
  position: absolute;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #333;
  display: none;
  background-position: center;
  background-size: cover;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.cs { background-image: url("../img/col1.png"); }
.des { background-image: url("../img/col2.png"); }
.bio { background-image: url("../img/col3.png"); }
.home,.about { background-image: url("../img/colw.png"); }

.cs.des { background-image: url("../img/col12.png"); }
.des.bio { background-image: url("../img/col23.png"); }
.bio.cs { background-image: url("../img/col31.png"); }

.cs.des.bio { background-image: url("../img/col123.png"); }