@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,300&display=swap';

:root {
  --pink:#F53393;
  --yellow:#F5DE2F;
  --blue:#27DCF5;
  --white:#DDD;
  --black:#222;
  font-size: 40px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  margin: 0px;
  background-color: black;
  background-color: var(--black);
  color: white;
  color: var(--white);
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 20vmin;
  top: 35vh;
  margin: 0;
  font-size: 20vmin;
  transform: translateY(-50%);
}

h2 {
  position: absolute;
  text-align: center;
  width: 20vw;
  height: 5.5vmin;
  margin: 1.5vh 0 0 0;
  font-size: 5.5vmin;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}

figure {
  float: center;
  text-align: center;
  font-style: italic;
  font-size: .9rem;
  text-indent: 0;
  margin: 0.5rem;
  padding: 0.5rem;
}

img {
  max-width: 90%;
}

.dot {
  width: 15vw;
  height: 15vw;
  position: absolute;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #333;
  display: none;
  background-position: center;
  background-size: cover;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.pink { background-image: url("../img/col1.png"); }
.yellow { background-image: url("../img/col2.png"); }
.blue { background-image: url("../img/col3.png"); }
.white { background-image: url("../img/colw.png"); }

.pinkyellow { background-image: url("../img/col12.png"); }
.yellowblue { background-image: url("../img/col23.png"); }
.bluepink { background-image: url("../img/col31.png"); }

.rainbow { background-image: url("../img/col123.png"); }