@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i&display=swap';

:root {
  --pink:#F53393;
  --yellow:#F5DE2F;
  --blue:#27DCF5;
  --white:#DDD;
  --black:#14141D;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  margin: 0px;
  background-color: black;
  background-color: var(--black);
  color: white;
  color: var(--white);
  font-size: 2.1vw;
}

#content {
  opacity: 0;
}

#sitelogo {
  display: flex;
  align-items: center;
  position: fixed;
  opacity: 1;
  top: 10vh;
  left: 20vw;
  height: 15vw;
  width: 60vw;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

h1 {
  font-size: 10vw;
  position: absolute;
  top: 2vw;
  left: 17vw;
  margin: 0;
  text-align: left;
  display: block;
  white-space: nowrap;
}

h2 {
  position: absolute;
  text-align: center;
  display: block;
  opacity: 0;
  width: 20vw;
  height: 4vw;
  margin: 1.5vh 0 0 0;
  font-size: 4vw;
  transform: translateX(-50%);
}

h3 {
  position: absolute;
  text-align: left;
  display: none;
  opacity: 0;
  width: 70vw;
  height: 9vw;
  line-height: 9vw;
  margin: 0;
  padding: 0 0 2vw 0;
  font-size: 4.5vw;
  vertical-align: middle;
}

h4 {
  position: relative;
  font-style: italic;
  margin: 0;
  margin-left: 8vw;
  margin-right: 55vw;
  font-size: 12vmin;
  text-align: left;
  
}

p {
  margin-top: 5vw;
  margin-bottom: 0;
  float: left;
  text-align: left;
  margin-left: 10vw;
  margin-right: 55vw;
}

a {
  display: inline-block;
  position: relative;
  color: pink;
  color: var(--pink);
  background: -webkit-linear-gradient(left, var(--pink), var(--yellow), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-line: none;
  transition: 0.2s;
}

a:not(.imagelink)::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .05em;
  width: 100%;
  background: -webkit-linear-gradient(left, var(--pink), var(--yellow), var(--blue));
  z-index: -1;
  transition: 0.2s;
}

a:hover {
  opacity: .7;
}

a:hover::after {
  opacity: .7;
}

section {
  position: absolute;
  display: none;
  opacity: 0;
}

figure {
  float: center;
  text-align: center;
  font-style: italic;
  font-size: .9rem;
  text-indent: 0;
  margin: 0.5rem;
  padding: 0.5rem;
}

.preview {
  max-width: 35vw;
  max-height: 55vh;
  border-radius: 50%;
  display: block;
  top: -4vw;
  left: 50vw;
  position: absolute;
}

.logo {
  opacity: .75;
  width: 3vw;
  height: 3vw;
}

.dot {
  border-radius: 50%;
  border: 0px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  transform: translate(-50%,-50%);
  opacity: 0;
  top: calc(50vh + 0vmin);
  left: 50vw;
}

.cs { background-image: url("../img/col1.png"); }
.des { background-image: url("../img/col2.png"); }
.bio { background-image: url("../img/col3.png"); }
#about { background-image: url("../img/colw.png"); }

.cs.des { background-image: url("../img/col12.png"); }
.des.bio { background-image: url("../img/col23.png"); }
.bio.cs { background-image: url("../img/col31.png"); }

.cs.des.bio { background-image: url("../img/col123.png"); }

#home {
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: none;
  background-image: url("../img/col123.png");
}

.menu {
  width: 10vw;
  height: 10vw;
  position: fixed;
  z-index: 2;
}

.proj {
  display: none;
  width: 9vw;
  height: 9vw;
  position: absolute;
}

#header-back {
  background-image: linear-gradient(var(--black), var(--black), var(--black), rgba(20, 20, 29, 0));
  top: 0;
  width: 100%;
  height: 18vw;
  position: fixed;
  z-index: 1;
}
